version: '3.1'

services:
  mongo:
    image: mongo
    restart: always
    ports:
      - "27017"
    volumes:
      - ./data:/data/db
  etsello:
    image: karthikraveendranoss/etsello
    restart: always
    ports:
      - 80:80
    environment:
      MONGO_URL: mongodb://mongo:27017