{{define "custom-card"}}
 


<div class="card text-center">
    <a href="" class="tag">
        <div class="card-icon custom-logo "></div>
        <h3 class="card-title"> Custom Integration</h3>
            <div class="text-container">
                  <p class="card-content" data-title="">Looking for other integrations.</p>
            </div>
        

        <div class="btn-wraper">
            <span  class="btn btn-outline-primary card-btn ">Email Us</span>
            <span  class="btn btn-outline-success card-btn active">Configure</span>
        </div>

</div>

{{end}}