{{define "todoist-card"}}

<div class="card text-center">
    <a href="" class="tag">
        <div class="card-icon todoist-logo"></div>
        <h3 class="card-title"> Todoist</h3>
        <div class="text-container">
        <p class="card-content" data-title="">Link to your todoist account to receive 
            new orders as todo items in todoist.</p>
        </div>
        <div class="btn-wraper">
            <span style="display:none" class="btn btn-outline-primary card-btn ">Link to todoist</span>
            <span style="display:none" class="btn btn-outline-success card-btn active">Configure</span>
            <div class="card-icon coming-soon" style="height:50px;width:60px"></div>
        </div>
    </a>
</div>


{{end}}