{{define "todoist-card"}}

<div class="card text-center">
    <a href="" class="tag">
        <div class="card-icon todoist-logo"></div>
        <h3 class="card-title"> Todoist</h3>
        <div class="text-container">
<p class="card-content" data-title="">Link to you todoist account to receive new orders as todo items in
    todoist.</p>
        </div>
            
        
        
        <div class="btn-wraper">
            <span class="btn btn-outline-primary card-btn ">Link to Todoist</span>
            <span  class="btn btn-outline-success card-btn active">Configure</span>
        </div>
</div>


{{end}}