{{define "trello-card"}}
    {{ if .TrelloDetails.IsLinked }}
        <div class="card text-center active">
    {{else}}
        <div class="card text-center">
    {{end}}
        <span href="" class="tag">
            <div class="card-icon trello-logo ">
            </div>
            <h3 class="card-title"> Trello</h3>
            <div class="text-container">
                  <p class="card-content" data-title="">Link your trello board with etsy. A new order in etsy will
                      create a new card in your trello board.</p>
            </div>
          
            <div class="btn-wraper">
                {{ if .TrelloDetails.IsLinked }}
                    <span  data-toggle="modal" data-target="#configurationModal"
                        class="btn btn-outline-success card-btn active">Configure</span>
                {{else if .UserID}}
                    <span  id="trello-authorize" class="btn btn-outline-primary card-btn ">Link to Trello</span>
                {{end}}
            </div>
        </span>
    </div>
    {{ if .TrelloDetails.IsLinked }}
    <div class="modal fade" id="configurationModal" tabindex="-1" 
        role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Trello Configuration</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <fieldset class="border-set">
                        <legend class="border-set regular">Trello Boards & Lists</legend>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="list-group" id="boards">
                                    {{range .TrelloDetails.TrelloBoards}}
                                        {{if eq .IsSelected true}}
                                            <button id="{{.ID}}" type="button" class="list-group-item active">{{.Name}}</button>
                                        {{else}}
                                            <button id="{{.ID}}" type="button" class="list-group-item">{{.Name}}</button>
                                        {{end}}
                                    {{end}}
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="list-group" id="boardLists"></div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row mt-1">
                        <div class="col-md-12">
                            <fieldset class="border-set">
                                <legend class="border-set regular">Etsy fields to be used in trello card</legend>
                                <div class="checkbox checkbox-success">
                                    {{$isChecked := .TrelloDetails.IsFieldSelected "listing_desc"}}
                                    {{if $isChecked}}
                                        <input id="listing_desc" type="checkbox" checked="checked">
                                    {{else}}
                                        <input id="listing_desc" type="checkbox">
                                    {{end}}
                                    <label for="listing_desc">
                                            Listing Description
                                    </label>
                                </div>
                                <div class="checkbox checkbox-success">
                                    {{$isChecked := .TrelloDetails.IsFieldSelected "listing_image"}}
                                    {{if $isChecked}}
                                        <input id="listing_image" type="checkbox" checked="checked">
                                    {{else}}
                                        <input id="listing_image" type="checkbox">
                                    {{end}}
                                    <label for="listing_image">
                                            Listing Image
                                    </label>
                                </div>
                                <div class="checkbox checkbox-success">
                                    {{$isChecked := .TrelloDetails.IsFieldSelected "listing_buy_profile"}}
                                    {{if $isChecked}}
                                        <input id="listing_buy_profile" type="checkbox" checked="checked">
                                    {{else}}
                                        <input id="listing_buy_profile" type="checkbox">
                                    {{end}}
                                        <label for="listing_buy_profile">
                                            Buyer details
                                        </label>
                                </div>
                                <div class="checkbox checkbox-success">
                                    {{$isChecked := .TrelloDetails.IsFieldSelected "listing_link"}}
                                    {{if $isChecked}}
                                        <input id="listing_link" type="checkbox" checked="checked">
                                    {{else}}
                                        <input id="listing_link" type="checkbox">
                                    {{end}}
                                    <label for="listing_link">
                                            Link to etsy transaction
                                    </label>
                                </div>
                                <div class="checkbox checkbox-success">
                                    {{$isChecked := .TrelloDetails.IsFieldSelected "listing_buyer_variations"}}
                                    {{if $isChecked}}
                                        <input id="listing_buyer_variations" type="checkbox" checked="checked">
                                    {{else}}
                                        <input id="listing_buyer_variations" type="checkbox">
                                    {{end}}
                                    <label for="listing_buyer_variations">
                                        Buyer variations in order
                                    </label>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-md-12">
                            <fieldset id="trello-radio-set" class="border-set">
                                <legend class="border-set regular">Sync transactions</legend>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="trello-optradio" 
                                        id="future-radio" value="1" {{if eq .TrelloDetails.TransactionFilter 1 }} checked="checked" {{end}}>
                                    <label class="form-check-label" for="future-radio">In the future</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="trello-optradio" 
                                        id="past-month-radio" value="2" {{if eq .TrelloDetails.TransactionFilter 2 }} checked="checked" {{end}}>
                                    <label class="form-check-label" for="past-month-radio">From past month</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="trello-optradio" 
                                        id="past-week-radio" value="3" {{if eq .TrelloDetails.TransactionFilter 3 }} checked="checked" {{end}}>
                                    <label class="form-check-label" for="past-week-radio">From past week</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="trello-optradio" 
                                    id="not-shipped-radio" value="4" {{if eq .TrelloDetails.TransactionFilter 4 }} checked="checked" {{end}}>
                                    <label class="form-check-label" for="not-shipped-radio">That are not shipped yet</label>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="saveTrelloConfig" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    {{end}}
{{end}}

