{{define "trello-card"}}
    {{if not .}}
    <div class="card text-center">
    {{else}}
        {{ if eq (len .TrelloDetails.TrelloBoards) 0 }}
        <div class="card text-center">
        {{else}}
            <div class="card text-center active">
        {{end}}
    {{end}}
        <span href="" class="tag">
            <div class="card-icon trello-logo ">
            </div>
            <h3 class="card-title"> Trello</h3>
            <div class="text-container">
                  <p class="card-content" data-title="">Link your trello board with etsy. A new order in etsy will
                      create a new card in your trello board.</p>
            </div>
          
            <div class="btn-wraper">
                {{if not .}}
                {{else}}
                    {{ if eq (len .TrelloDetails.TrelloBoards) 0 }}
                    <span type="button" class="btn btn-outline-primary card-btn ">Link to Trello</span>
                    {{else}}
                    <span type="button" data-toggle="modal" data-target="#configurationModal"
                        class="btn btn-outline-success card-btn active">Configure</span>
                    {{end}}
                {{end}}
            </div>
        </a>
    </div>
    <div class="modal fade" id="configurationModal" tabindex="-1" 
        role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Boards & Lists
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
{{end}}

