{{define "wunderlist-card"}}


<div class="card text-center">
    <a href="" class="tag">
        <div class="card-icon wunderlist-logo "></div>
        <h3 class="card-title"> Wunderlist</h3>
            <div class="text-container">
                <p class="card-content" data-title="">Link to your wunderlist account to receive new orders as todo
                    items in wunderlist.</p>
            </div>
        <div class="btn-wraper">
            <span  style="display:none" class="btn btn-outline-primary card-btn ">Link to Wunderlist</span>
            <span  style="display:none" class="btn btn-outline-success card-btn active">Configure</span>
        </div>

</div>


{{end}}