body
{   
    background-color: #fff;
}
.bold
{
    font-weight: 700;
}
.regular{
    font-weight: 400;
}
.medium{
    font-weight: 500;
}

input:focus {
    outline: none;
}

/* spacing adjustment */
.etsello-form {
    margin-top: 40px;
}

form{
    text-align:center;
}

.navbar {
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.05);
    padding: 0px 15px;
}
.navbar-brand{
  color: #FF6700 !important;
}
li.nav-item {
  position: relative;
  padding: 15px 25px;
 border-bottom: 3px solid transparent;
 transition: 0.2s ease-in;
 margin-right: 15px;
  
}
li.nav-item:hover{
  border-bottom-color: #FF6700 !important;
}
li.nav-item i{
  font-size: 25px;
}
a.nav-link {
  display: inline-block;
}

nav .navbar-nav li a{
    color: #000 !important;
}
nav .navbar-brand{
    /* text-shadow: 0px 6px 3px rgba(244, 98, 58, 0.61); */
    font-size: 30px;
    font-weight: 600;
}

.login-wraper{
  display: flex;
  text-align: left;

}
.login-image {

  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000;
  margin-right: 5px;
  align-self: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover; 
}
.login-text{
      font-size: 14px;
      width: 180px;
      text-overflow: ellipsis;
      overflow: hidden;
}
.login-text p{
  font-weight: 500;
  margin-bottom: 0;
}

.list-group {
    vertical-align: top;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    max-height: 150px;
    height: 150px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
.landing-page{

  padding: 100px 15px ;
}

.cards{
  width: 25%;
  padding: 0px 15px;
  position: relative;
}

.cards.active::before{

          content: "\f058";
          font-weight: 400;
          font-family: "Font Awesome 5 Pro";
          color: green;
          font-size: 45px;
          border-radius: 50%;
          position: absolute;
          left: -10px;
          top: -25px;
          z-index: 1;
          /* background-color: #FF6700; */
          line-height: 1;
}
.image-box{

      height: 200px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100% 100%;


}

.trello-logo{
  background-image: url('../images/Trello-icon.png');
}
.etsy-logo{
  background-image: url('../images/etsy.png');
}




/* Set a style for all buttons */
.etsello-button {
        
         padding: 15px 40px;
         margin: 20px 0;
        font-weight: 600;
         cursor: pointer;
         border-radius: 40px;
         outline: none;
         box-shadow: none;
         background-color: #fff;
         outline: none;
         color: #FF6700;
         border-color: #FF6700;
         transform: translateY(-3px);
          -webkit-box-shadow: 0px 3px 6px 0px rgba(255, 103, 0, 0.5);
          -moz-box-shadow: 0px 3px 6px 0px rgba(255, 103, 0, 0.5);
          box-shadow: 0px 3px 6px 0px rgba(255, 103, 0, 0.5);
}
.etsello-button:hover{
  background-color: #fff;
  color: #FF6700;
  border-color: #FF6700;
  outline: none;
  box-shadow: none;
  transform: translateY(0px);
  transition: 0.2s ease-in;
  box-shadow: none;

}
.etsello-button:active {
  background-color: #fff;
  outline: none;
  color: #FF6700;
  border-color: #FF6700;
}

.etsello-button:focus {
    outline: none;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #92977E;
    color: white;
    border: 1px solid #92977E;
}   

.panel {
    background-color: #DFBBB1;
    border: 1px solid #92977E;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  }

.user-content {
    border-right: 1px solid #333;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 0px;
}


.footer{
margin-top: 70px;
margin-left: auto;
margin-right: auto;

}
.footer-text{
    color: #B9B8B9;
    vertical-align: middle;
    display: inline-block;
    font-size:12px;
 
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

.multi-steps > li.is-active:before, .multi-steps > li.is-active ~ li:before {
    content: counter(stepNum);
    font-family: inherit;
    font-weight: medium;
  }
  .multi-steps > li.is-active:after, .multi-steps > li.is-active ~ li:after {
    background-color: #DFBBB1;
  }
  
  .multi-steps {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .multi-steps > li {
    counter-increment: stepNum;
    text-align: center;
    display: table-cell;
    position: relative;
    color: #FF6700;
  }
  .multi-steps > li:before {
    content: "\f00c";
    content: '\2713;';
    content: '\10003';
    content: '\10004';
    content: '\2713';
    display: block;
    margin: 0 auto 4px;
    background-color: #fff;
    width: 36px;
    height: 36px;
    line-height: 32px;
    text-align: center;
    font-weight: bold;
    border-width: 2px;
    border-style: solid;
    border-color: #FF6700;
    border-radius: 50%;
  }
  .multi-steps > li:after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: #FF6700;
    position: absolute;
    top: 16px;
    left: 50%;
    z-index: -1;
  }
  .multi-steps > li:last-child:after {
    display: none;
  }
  .multi-steps > li.is-active:before {
    background-color: #fff;
    border-color: #FF6700;
  }
  .multi-steps > li.is-active ~ li {
    color: #808080;
  }
  .multi-steps > li.is-active ~ li:before {
    background-color: #ededed;
    border-color: #DFBBB1;
  }

.link-arrow-container {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.profile-sidebar {
    padding: 20px 0 10px 0;
}
  
.profile-pic img {
    float: none;
    margin: 0 auto;
    width: 20%;
    height: 20%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }
  
  .profile-title {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-usertitle-email {
    font-size: 14px;
    font-weight: medium;
    margin-bottom: 7px;
  }
  
  .profile-usertitle-name{
    font-size: 12px;
    font-weight: medium;
    margin-bottom: 15px;
  }

  .profile-shoptitle-name {
    font-size: 14px;
    font-weight: medium;
    margin-bottom: 7px;
  }

  .profile-shoptitle-title {
    font-size: 12px;
    font-weight: medium;
    margin-bottom: 7px;
  }

  .profile-shoptitle-favorites {
    font-size: 10px;
    font-weight: medium;
    margin-bottom: 7px;
  }

  .list-group-item {
    font-size: 14px;
    font-weight: medium;
    padding: .5rem .75rem;
  }

  .list-group-item.active {
      background-color: #007991;
      border-color: #007991;
  }

  .list-group-item:focus,.list-group-item:active {
    outline: none !important;
    box-shadow: none;
  }

  .trello-heading {
    margin-top:10px;
  }

  .trello-details{
    margin-bottom: 50px;
  }
  .board-list{
    min-height: 200px;
    max-height: 200px;
    overflow-y: auto;
  }
  .board-list button{
    width: 100%;
    margin-bottom: 3px;
  }

 .board-list::-webkit-scrollbar {
   width: 5px;
 }

 /* Track */
 .board-list::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px grey;
   border-radius: 10px;
 }

 /* Handle */
  .board-list::-webkit-scrollbar-thumb {
   background: #FF6700;
   border-radius: 10px;
 }

 /* Handle on hover */
  .board-list::-webkit-scrollbar-thumb:hover {
   background: #FF6700;
 }