{{define "details"}}
<!DOCTYPE html>
<html lang="en">
    {{ template "header" }}
    <body>
        {{ template "navbar" }}
        {{template "multistep-progress"}}
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <div class="text-center panel panel-primary">
                        <div class="panel-heading">Etsy Details</div>
                        <div class="panel-body">
                            {{if not .}}
                                <form action="/authorize-etsy" method="POST" >
                                    <div class="text-center">
                                        <button class="etsello-button bold" type="submit">Login to Etsy</button>
                                    </div>
                                </form>
                            {{else}}
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="user-content">
                                            <img src="{{.EtsyDetails.UserProfileURL}}" height= "75px" class="rounded-circle" alt="shop icon"/>
                                            <span>{{.EmailID}}</span>
                                            <span>{{.EtsyDetails.UserName}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="shop-content">
                                            {{.EtsyDetails.UserShopDetails.ShopName}}
                                            <img src="{{.EtsyDetails.UserShopDetails.ShopIconURL}}" height= "75px" class="rounded-circle" alt="shop icon"/>
                                        </div>
                                    </div>
                                </div>
                            {{end}}
                        </div>
                    </div>
                    {{if not .}}
                    {{else}}
                        <div class="container" style="text-align:center">
                            <i class="fas fa-arrows-alt-v"></i>
                        </div>
                        <div class="text-center panel panel-primary">
                            <div class="panel-heading">Trello Details</div>
                                <div class="panel-body">
                                    {{ if ne (len .TrelloDetails.TrelloBoards) 0 }}
                                    <div class="text-center border border-primary">
                                        <div class="list-group" id="boards">
                                            {{range .TrelloDetails.TrelloBoards}}
                                                <button id="{{.ID}}" type="button" class="list-group-item">{{.Name}}</button>
                                            {{end}}
                                        </div>
                                        <div class="list-group" id="boardLists">
                                            <div id = "spinner-board-list" class="d-flex justify-content-center">
                                                <div class="spinner-border" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button class="etsello-button bold" id="saveList" type="submit">Save</button>
                                        </div>
                                    </div>
                                    {{else}}
                                        <form action="/authorize-trello" method="POST" >
                                            <div class="text-center">
                                                <button class="etsello-button bold" type="submit">Link to Trello</button>
                                            </div>
                                        </form>
                                    {{end}}
                                </div>
                            </div>
                        </div>
                    {{end}}
                </div>
            </div>
        </div>
        {{ template "footer" }}
    </body>
</html>
{{end}}