{{define "details"}}
<!DOCTYPE html>
<html lang="en">
    {{ template "header" }}
    <body>
        {{ template "navbar" }}
        {{template "multistep-progress" .}}
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <div class="text-center panel panel-primary">
                        <div class="panel-heading medium">Etsy Details</div>
                        <div class="panel-body">
                            {{if not .}}
                                <div class="text-center">
                                    <button class="etsello-button medium" id ="etsy-authorize" type="submit">Login to Etsy</button>
                                </div>
                            {{else}}
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="profile-sidebar">
                                            <div class="profile-pic">
                                                <img src="{{.EtsyDetails.UserProfileURL}}" class="img-responsive" alt="{{.EtsyDetails.UserName}}">
                                            </div>
                                            <div class="profile-title">
                                                <div class="profile-usertitle-email">
                                                    {{.EmailID}}
                                                </div>
                                                <div class="profile-usertitle-name">
                                                    {{.EtsyDetails.UserName}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="profile-sidebar">
                                            <div class="profile-pic">
                                                <img src="{{.EtsyDetails.UserShopDetails.ShopIconURL}}" class="img-responsive" alt="{{.EtsyDetails.UserShopDetails.ShopName}}">
                                            </div>
                                            <div class="profile-title">
                                                <div class="profile-shoptitle-email">
                                                    {{.EtsyDetails.UserShopDetails.ShopName}}
                                                </div>
                                                <div class="profile-shoptitle-title">
                                                    {{.EtsyDetails.UserShopDetails.Title}}
                                                </div>
                                                <div class="profile-shoptitle-favorites">
                                                   <i class="fas fa-heart"></i> Favourite shop ({{.EtsyDetails.UserShopDetails.ShopFavorites}})
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{end}}
                        </div>
                    </div>
                    {{if not .}}
                    {{else}}
                        <div class="container link-arrow-container">
                            <i class="fas fa-arrows-alt-v fa-2x"></i>
                        </div>
                        <div class="text-center panel panel-primary">
                            <div class="panel-heading medium">Trello Details</div>
                                <div class="panel-body">
                                    {{ if ne (len .TrelloDetails.TrelloBoards) 0 }}
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <h5 class="trello-heading">Boards</h5>
                                            <div class="list-group" id="boards">
                                                {{range .TrelloDetails.TrelloBoards}}
                                                    {{if eq .IsSelected true}}
                                                        <button id="{{.ID}}" type="button" class="list-group-item active">{{.Name}}</button>
                                                    {{else}}
                                                        <button id="{{.ID}}" type="button" class="list-group-item">{{.Name}}</button>
                                                    {{end}}
                                                {{end}}
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <h5 class="trello-heading">Lists</h5>
                                            <div class="list-group" id="boardLists">
                                                <div id = "spinner-board-list" class="d-flex justify-content-center">
                                                    <div class="spinner-border" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center justify-content-center">
                                        <button class="etsello-button medium" id="saveList" type="submit">Save</button>
                                    </div>
                                    {{else}}
                                        <div class="text-center">
                                            <button class="etsello-button medium" id="trello-authorize" type="submit">Login to Trello</button>
                                        </div>            
                                    {{end}}
                                </div>
                            </div>
                        </div>
                    {{end}}
                </div>
            </div>
        </div>
        {{ template "footer" }}
    </body>
</html>
{{end}}