{{ define "footer" }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="assets/scripts/etsello.js"></script>
<footer class="footer">
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row mt-3">

            <!-- Grid column -->
            <div class="col-md-6 mt-3">
                <p class="etsy-disclaimer">This site uses cookies to track user information. Please see the privacy policy to get more details.</p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mt-3">
                <ul>
                    <li class="footer-list-item">
                        <a href="/terms-and-conditions">Terms and Condition</a>
                    </li>
                    <li class="footer-list-item">
                        <a href="/privacy-policy">Privacy Policy</a>
                    </li>
                </ul>

            </div>
            <div class="col-md-3 mt-3 footer-copyright text-center">© 2019 Copyright: automatictactoe.com</div>
        </div>
    </div>
</footer>
{{ end }}