{{ define "navbar" }}
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Etsello</a>
    <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto my-2 my-lg-0">
       <li class="nav-item github active">
        <i class="fab fa-github"></i>
         <a class="nav-link github-link" href="#">Github <span class="sr-only">(current)</span></a>
       </li>
      </ul>
    </div>
    <div class="login-wraper">
      {{if not .}}
      {{else}}
        <div class="login-image">
          <img src="{{.EtsyDetails.UserProfileURL}}" alt="{{.EtsyDetails.UserName}}"/>
        </div>
        <div class="login-text">
          <p>{{.EmailID}}</p>
          <span>{{.EtsyDetails.UserShopDetails.ShopName}}</span>
        </div>
      {{end}}
  </div>
</nav>
{{ end }}