{{ define "navbar" }}
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <img src="assets/images/etsello-logo.svg" width="30" height="30" alt="">automatictactoe
    </a>
    <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto my-2 my-lg-0">
       <li class="nav-item github active">
         <a class="nav-link github-link" href="#">Github <span class="sr-only">(current)</span></a>
       </li>
      </ul>
    </div>
    <div>
      {{if not .}}
      {{else}}
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown"> 
              <img class ="login-image" src="{{.EtsyDetails.UserProfileURL}}"/>{{.EmailID}}
          </button>
          <div class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
            <a class="dropdown-item" href="logout">Logout</a>
          </div>
        </div>
      {{end}}
  </div>
</nav>
{{ end }}